/*
filename: style.css
author: Klim Huynh
created: 22/03/2019
last modified: 12/04/2019
description: index.html
*/

.area {
  fill: slategrey;
  stroke: none;
}

.halfMilMarkLine {
  stroke: red;
  stroke-dasharray: 2, 3;
}

.halfMilLabel {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  fill: red;
}
