/*
filename: style.css
author: Klim Huynh
created: 15/03/2019
last modified: 15/03/2019
description: index.html
*/

button {
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#updateButton {
  background-color: blue;
}

#transition1 {
  background-color: orange;
}

#transition2 {
  background-color: green;
}
